/*html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    height: 100%;
    position: relative;
}

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

#hide-listings,
#show-listings {
    width: 48%;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}


#pano {
    width: 200px;
    height: 200px;
}

#places-search,
#search-within-time-text {
    width: 84%;
}

.text {
    text-decoration: none;
    font-size: 15px;
    color: #D0D0D1;

}
*/

#map {
    bottom: 0px;
    height: 100%;
    left: 10px;
    position: absolute;
    right: 0px;
    z-index: -1;
}

/*
#toggle-drawing {
    width: 27%;
    position: relative;
    margin-left: 10px;
}

#zoom-to-area-text {
    width: 70%;
}

#zoom-to-area {
    width: 24%;
}

.sidenav h1 {
    text-decoration: none;
    font-size: 30px;
    color: #D0D0D1;
}

.sidenav p, th {
    padding: 2px 6px;
    text-decoration: none;
    font-size: 18px;
    color: #D0D0D1;
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #444760;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 4px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #D0D0D1;
    display: block;
}

.sidenav a:hover {
    color: #EF5858;
}


.main {
    margin-left: 180px;  //Same as the width of the sidenav
    font-size: 28px;  //Increased text to enable scrolling
    padding: 1px 10px;
}*/

/*
 @media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
 }

 button, select {
 margin-left: 10px;
 }
 */
/*---- Collapsible Sidebar ----*/
.plc-main {/*,
#main {*/
    transition: margin-left .4s
}

.plc-container,
.plc-panel {
    padding: 0.01em 16px
}

.plc-teal,
.plc-hover-teal: hover {
    color: #fff !important;
    background-color: #009688 !important
}

.plc-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.plc-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.plc-button: disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.plc-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.plc-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

.plc-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.plc-bar .plc-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.plc-bar-block.plc-center .plc-bar-item {
    text-align: center
}

.plc-bar-block .plc-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.plc-bar-block.plc-center .plc-bar-item {
    text-align: center
}

.plc-bar-item.plc-mobile,
.plc-dropdown-hover.plc-mobile,
.plc-dropdown-click.plc-mobile {
    text-align: center
}


.plc-bar-block .plc-dropdown-hover,
.plc-bar-block .plc-dropdown-click {
    width: 100%
}

.plc-bar-block .plc-dropdown-hover .plc-dropdown-content,
.plc-bar-block .plc-dropdown-click .plc-dropdown-content {
    min-width: 100%
}

.plc-bar-block .plc-dropdown-hover .plc-button,
.plc-bar-block .plc-dropdown-click .plc-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.plc-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.plc-dropdown-hover:hover>.plc-button:first-child,
.plc-dropdown-click:hover>.plc-button:first-child {
    background-color: #ccc;
    color: #000
}

.plc-large {
    font-size: 18px !important
}

.plc-xlarge {
    font-size: 24px !important
}

@media (min-width: 750px) {
    .plc-modal-content {
        width: 750px
    }
    .plc-hide-large {
        display: none !important
    }
    .plc-sidebar.plc-collapse {
        display: block !important
    }
}

@media (max-width: 749px) {
    .plc-sidebar.plc-collapse {
        display: none
    }
    .plc-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }
}
