<!DOCTYPE html>
<html>
  <head>
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/knockout-3.4.2.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="options-box">
        <h1>Discover your neighbourhood</h1>
        <p>
          Discover good places to visit in your neighbourhood.
        </p>
        <div>
          <button data-bind="click:showListings">Show Listings</button>
          <input id="hide-listings" type="button" value="Hide Listings">
        </div>
        <hr>

        <hr>
        <div>
          <span class="text"> Within </span>

          <select data-bind="options: distances,
                             optionsCaption: 'Choose max distance',
                             optionsText: 'label',
                             value: chosenDistance">
          </select>
          <button data-bind ="enable: chosenDistance,
                              click: resetDistance">
              Clear
          </button>
          <select data-bind="options: tickets,
              optionsCaption: 'Choose...',
              optionstext: 'name',
              value: chosenTicket">
          </select>
          <button data-bind="enable: chosenTicket,
              click: resetticket">Clear</button>
          <script>
              function TicketsViewModel() {
                  this.tickets = [
                      { name: "Economy", price: 199 },
                      { name: "Business", price: 299 },
                      { name: "First", price: 599 }
                  ];
                  this.chosenTicket = ko.observable();
                  this.resetticket = function() { this.chosenTicket(null) }
              }
              ko.applyBindings(new TicketsViewModel());
          </script>
          <select id="mode">
            <option value="DRIVING">drive</option>
            <option value="WALKING">walk</option>
            <option value="BICYCLING">bike</option>
            <option value="TRANSIT">transit ride</option>
          </select>
        </div>
        <hr>
        <div>
          <span class="text">Search for nearby places</span>
          <input id="places-search" type="text" placeholder="Ex: Burgers">
          <input id="go-places" type="button" value="Go">
        </div>
      </div>
      <div id="map"></div>
    </div>

  </body>
</html>
